/* Footer Styles */
.footer {
  display: flex;
  background: linear-gradient(0deg, rgba(0, 168, 107, 0.50) 10.99%, rgba(4, 57, 39, 0) 92.45%);
  color: var(--text-color);
  font-family: 'FiraSans', sans-serif;
  flex-direction: column;
  gap: 10px;
  height: auto;
  padding: 2%;
}

.nav-links {
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(2, minmax(150px, 1fr)); /* Two columns */
  gap: 10px; /* Adjust gap as needed */
  color: var(--text-color);
  font-size: 1.3rem;
}

.nav-link {
  font-size: 1.5rem;
  text-decoration: none;
  color: var(--text-color);
}

/* Active link styles */
.nav-link.active {
  font-weight: bold;
}

/* Hover effect on navigation links */
.nav-link:hover {
  background-color: var(--button-hover-color);
  border-radius: 5px;
}

@media (max-width: 768px) {
  .nav-links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}