  img {
    display: block;
    max-width: 100%;
  }

  .hp-section1 {
    display: flex;
    justify-content: center;
    max-width: 100%;
    height: auto;
    padding: 7.5%;
    background-image: url("../assets/images/soccer_pitch.jpg");
    background-size: cover;
    background-position: center;
  }

  .hp-section1-text {
    padding: 5%;
    max-width: 50%;
  }

  .hp-section1-image {
    display: flex;
    max-width: 30%;
  }

  .hp-section2 {
    background-color: rgba(255, 255, 255, 0);
    box-shadow: inset 0px 0px 25px rgba(0, 0, 0, 0.5);
    display: flex;
    max-width: 100%;
    height: auto;
    justify-content: center;
    padding: 2%;
  }

  .hp-example-pictures {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    gap: 20px;
    max-width: 100%;
  }

  .hp-contact {
    margin: 25px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
  }

  .hp-contact p {
    font-size: 1.5rem;
    color: white;
    line-height: 0.5;
  }
  
  .hp-section3 {
    max-width: 100%;
    height: auto;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 400px));
    grid-template-rows: auto;
    gap: 50px;
  }

  .hp-section3-headline {
    grid-column: 1 / -1; 
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
  }

  .hp-box-1,
  .hp-box-2,
  .hp-box-3 {
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    padding: 50px;
    border-radius: 20px;
    max-width: 100%;
  }

  .hp-section3 button {
    font-size: 1.25rem;
    background-color: #FF5C00;
  }



  .hp-section3 h2 {
    font-size: 3rem;
    color: white;
    line-height: 1.5;
  }

  .hp-section3 p {
    font-size: 1.5rem;
    color: white;
    line-height: 1.5;
  }

 .hp-icon {
    color: #FF5C00;
    height: 40px;
    width: 40px;
    align-self: center;
  }

  @media (max-width: 1024px) {
    .hp-section1 {
      flex-direction: column;
      padding: none;
      align-items: center;
    }

    .hp-section1-text {
      padding: 5%;
      max-width: 100%;
    }

    .hp-section1 h1 {
      font-size: 1.5rem;
    }

    .hp-section1 h2 {
      font-size: 2rem;
    }

    .hp-section1 h3 {
      font-size: 1.5rem;
    }

    .hp-contact p {
      font-size: 1rem;
      line-height: 1.5;
    }

    .hp-contact h1 {
      font-size: 1rem;
      color: white;
      line-height: 1.5;
    }    

    .hp-section3 h1 {
      font-size: 1rem;
      color: white;
      line-height: 1.5;
    }
  
    .hp-section3 h2 {
      font-size: 2rem;
    }
  
    .hp-section3 p {
      font-size: 1rem;
    }
  
    .hp-section3 .icon {
      width: 3rem;
      height: 3rem;
    }
  }