/* Grundlegende Navbar-Styles */
.navbar {
  max-width: 100%;
  background-color: rgba(255, 255, 255, 0); /* Transparent white */
  color: var(--text-color);
  font-family: 'FiraSans', sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2%;
  margin-top: 2%;
}

/* Styles für den Website-Namen */
.navbar-brand {
  font-size: 2.5rem; /* Größere Schrift für den Markennamen */
  color: var(--text-color); /* Verwenden der Hauptfarbe für den Markennamen */
  text-decoration: none; /* Keine Unterstreichung für Text-Links */
  cursor: default; /* Der Markenname ist nicht klickbar */
}

nav .nav-link {
  display: flex;
  font-size: 1.5rem;
  text-decoration: none;
  color: var(--text-color);
}

/* Aktiver Link */
.nav-link.active {
  font-weight: bold; /* Aktiver Link ist fett */
}

.nav-link:hover {
  background-color: var(--button-hover-color); /* Farbwechsel beim Hover */
  border-radius: 5px;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
}

  