/* Grundlegende Navbar-Styles */
.navbar {
  background-color: rgba(255, 255, 255, 0); /* Transparent white */
  color: var(--text-color);
  font-family: 'FiraSans', sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 50px;
  padding-left: 50px;
  margin-top: 25px;
}

/* Styles für den Website-Namen */
.navbar-brand {
  font-size: 2.5rem; /* Größere Schrift für den Markennamen */
  color: var(--text-color); /* Verwenden der Hauptfarbe für den Markennamen */
  text-decoration: none; /* Keine Unterstreichung für Text-Links */
  cursor: default; /* Der Markenname ist nicht klickbar */
}

nav .nav-link {
  display: flex;
  font-size: 1.5rem;
  justify-content: space-between;
  padding: 5px;

}

/* Aktiver Link */
.nav-link.active {
  font-weight: bold; /* Aktiver Link ist fett */
  color: var(---text-color); /* Farbwechsel für den aktiven Link */
}

.nav-link:hover {
  background-color: var(--button-hover-color); /* Farbwechsel beim Hover */
  border-radius: 5px;
}



  