
/* Global style definitions */
:root {
  /* Color scheme */
  --primary-color: #1e824c; /* Hauptgrün */
  --secondary-color: #3BB143; /* Weiß */
  --background-color: #043927; /* helles Grau für Hintergründe */
  --text-color: #ffffff; /* dunkles Grau für Text */
  --button-hover-color: #ffffff6c; /* dunkleres Grün für Button-Hover */
  --label-color: #E95918;

}

/* Font face definition */
@font-face {
  font-family: 'FiraSans';
  src: url('./assets/fonts/Fira_Sans/FiraSans-Regular.ttf')Dies  format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Body and typography */
body {
  margin: 0;
  padding: 0;
  font-family: 'FiraSans', sans-serif;
  color: var(--text-color);
  background-image: url('./assets/images/Background_image2.png'); /* Adjust the path as necessary */
  background-size: 100% auto;
  background-position: top center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'FiraSans', sans-serif;
}

h1 {
  font-size: 3rem;
  line-height: 0.5;
}

h2 {
  font-size: 4rem;
  line-height: 0.5;
  color: #FF5C00;
}

h3 {
  font-size: 2rem;
  line-height: 1.5;
}
p {
  font-size: 1rem;
  line-height: 1.5;
}

/* Links and buttons */
a {
  text-decoration: none;
  color: var(--primary-color);
}

label {
color: var(--label-color)
}

button {
  background-color: var(--primary-color);
  color: var(--text-color);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: var(--button-hover-color);
}


/* Responsive design */
@media (max-width: 768px) {
  .navbar {
    /* Adjustments for mobile devices */
  }
  .container {
    padding: 0 10px;
  }
}

