
/* Global style definitions */
:root {
  /* Color scheme for elements that are not texts */
  --background-color: #EAEAEA;
  --button-hover-color: #ea00006c;
  --primary-blue: #008CF0;
}

/* Font face definition */
@font-face {
  font-family: 'SairaCondensed';
  src: url('./assets/fonts/Saira_Condensed/SairaCondensed-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Body and typography */
body {
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'SairaCondensed';
}

h1 {
  font-size: 40px;
  line-height: auto;
  font-weight: bold;
  color: #ffffff;
}

.h1-blue {
  color: #008CF0;
}

h2 {
  font-size: 32px;
  line-height: auto;
  color:#1B1B1B;
}

h3 {
  font-size: 27px;
  line-height: auto;
  font-weight: bold;
  color: #1B1B1B;
}

h4 {
  font-size: 24px;
  line-height: auto;
  color: #757575;
}

p {
  font-size: 18px;
  line-height: auto;
  color: #1B1B1B;
}

button {
  background-color: var(--primary-blue);
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: var(--button-hover-color);
}

.container {
  max-width: 1536px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

@media (max-width: 640px) {
  .container {
    max-width: 475px;
  }
}